VITE_CESIUM_ACCESS_TOKEN="YOUR_CESIUM_ACCESS_TOKEN"

VITE_MOON_PHASE_APP_ID="YOUR_APP_ID"
VITE_MOON_PHASE_APP_SECRET="YOUR_MOON_APP_SECRET"

OPENSKY_CLIENT_ID="YOUR_CLIENT_ID"
OPENSKY_CLIENT_SECRET="YOU_SECRET"

GMAIL_APP_PASSWORD="YOUR_GMAIL_APP_PASSWORD"
